<h1>
  
  <title> ANS page</title>
  
  <%= prac_array = ["three","four"] 
prac_array.each do |x|
  x 
  mellow yellow
  end 
   
  %>
  
  <%= params[:user_name] %> is a cheese ball  <!--  takes the input from the previous page and outputs it as part of a string -->
  
</h1>