<h1>
  
  <title> ANS page</title>
  
  <%= prac_array = [1,2,8, 50, 100, 158349] 
  prac_array.each do |element|
    element
  end 
   
   
  %>
  
  <%= params[:user_name] %> is a cheese ball  <!--  takes the input from the previous page and outputs it as part of a string -->
  
</h1>